Analyze Nobel Prize winner data and identify patterns by answering the following questions:

In [1]:
import pandas as pd

nobel=pd.read_csv("nobel.csv")
nobel.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

What is the most commonly awarded gender and birth country?

Store your answers as string variables top_gender and top_country.

In [2]:
top_gender =  nobel["sex"].mode()[0]
top_gender

'Male'

In [3]:
top_country =  nobel["birth_country"].mode()[0]
top_country

'United States of America'

In [4]:
nobel["year"].unique()

array([1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911,
       1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922,
       1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933,
       1934, 1935, 1936, 1937, 1938, 1939, 1943, 1944, 1945, 1946, 1947,
       1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958,
       1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969,
       1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

Which decade had the highest ratio of US-born Nobel Prize winners to total winners in all categories?

Store this as an integer called max_decade_usa.

In [ ]:
nobel['decade'] = (nobel['year'] // 10) * 10

# Step 2: Group by decade and count total + US-born winners
decade_stats = nobel.groupby('decade').apply(
    lambda x: pd.Series({
        'total_winners': len(x),
        'us_winners': (x['birth_country'] == 'United States of America').sum()
    })
)

# Step 3: Compute the ratio
decade_stats['ratio'] = decade_stats['us_winners'] / decade_stats['total_winners']

# Step 4: Identify the decade with the highest ratio
best_decade = decade_stats['ratio'].idxmax()

# Step 5: Save result as variable (integer)
max_decade_usa= int(best_decade)
max_decade_usa

Which decade and Nobel Prize category combination had the highest proportion of female laureates?

Store this as a dictionary called max_female_dict where the decade is the key and the category is the value. There should only be one key:value pair.

In [7]:
nobel['decade'] = (nobel['year'] // 10) * 10

female_ratio = nobel.groupby(['decade', 'category']).apply(
    lambda x: (x['sex'] == 'Female').mean()
).reset_index(name='female_ratio')

# Get the row with the highest female ratio
max_row = female_ratio.loc[female_ratio['female_ratio'].idxmax()]

# Store result as dictionary
max_female_dict = {int(max_row['decade']): max_row['category']}
max_female_dict

C:\Users\yoges\AppData\Local\Temp\ipykernel_6068\1585725389.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  female_ratio = nobel.groupby(['decade', 'category']).apply(

{2020: 'Literature'}

Who was the first woman to receive a Nobel Prize, and in what category?

Save your string answers as first_woman_name and first_woman_category.

In [8]:
first_woman_name= nobel.loc[nobel["sex"]=="Female","full_name"][:1].iloc[0]
# code returns a Series, not a single string, converting it to a string using .iloc[0] or .values[0].
first_woman_name

'Marie Curie, née Sklodowska'

In [9]:
first_woman_category = nobel.loc[nobel["sex"]=="Female","category"][:1].iloc[0]
first_woman_category

'Physics'

Which individuals or organizations have won more than one Nobel Prize throughout the years?

Store the full names in a list named repeat_list.

In [11]:
# Assuming DataFrame: nobel with a column 'full_name' (or similar)
repeat_list = nobel['full_name'].value_counts().loc[lambda x: x > 1].index.tolist()
repeat_list

['Comité international de la Croix Rouge (International Committee of the Red Cross)',
 'Frederick Sanger',
 'Marie Curie, née Sklodowska',
 'Office of the United Nations High Commissioner for Refugees (UNHCR)',
 'John Bardeen',
 'Linus Carl Pauling']